html,
body {
	height: 100%;
}

body {
	padding-top: 70px;
}

.img-proj {
	max-width:100%;
	max-height:100%;
	border: 1px solid #ccc;
	margin-bottom: 20px;
}

#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

.align-center {
	text-align: center;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}

.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

.lead {
	color: #5a5a5a;
	font-size: 21px;
	font-weight: 200;
	line-height: 1.4;
}

@media (max-width: 520px) {
	h1 {
		font-size: 24px;
	}
}


/* simple */
.noie .flip-container {
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	perspective: 1000;
	margin: 0 auto;
}

	
.noie .flip-container:hover .flipper, .noie .flip-container.hover .flipper, .noie #flip-toggle.flip .flipper {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	transform: rotateY(180deg);
	filter: FlipH;
	-ms-filter: "FlipH";
}

.noie .flipper {
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;

	-moz-transition: 0.6s;
	-moz-transform-style: preserve-3d;

	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

.noie .front, .noie .back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

.noie .front {
	z-index: 2;
}

.noie .back {
	padding: 20px 10px;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.back p {
	z-index: 1;
	position: relative;
}

.filler {
	position: absolute;
	z-index: 0;
}

.ie .flipper {
	position: relative;
}

.ie .front, .ie .back {
	position: absolute;
	top: 0;
	left: 0;
}

.ie .front {
	z-index: 1;
}

.ie .back {
	z-index: 0;
	padding: 20px 10px;
}

.ie .flip-container .front {
	opacity: 1;
	-webkit-transition: opacity 150ms ease-out;
    -moz-transition: opacity 150ms ease-out;
    -o-transition: opacity 150ms ease-out;
    -ms-transition: opacity 150ms ease-out;
    transition: opacity 150ms ease-out;
}

.ie .flip-container:hover .front {
	opacity: 0;
	-webkit-transition: opacity 150ms ease-out;
    -moz-transition: opacity 150ms ease-out;
    -o-transition: opacity 150ms ease-out;
    -ms-transition: opacity 150ms ease-out;
    transition: opacity 150ms ease-out;
}